@import url('bootstrap');

body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar-custom-bg {
    background-image: url('./assets/images/trinacria2.png');
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    
}

.nav-link:hover{
    color: #007bff;
}

.dept_card:hover , .emp_card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #007bff;
    border: 3px solid #007bff !important; 
    transition: 1000ms;
}

.dept_card, .emp_card{
    border:  3px solid #007bff !important;
}

#home_logo{
    object-fit: contain;
    max-height: 35vh;
}

#footer-brand{
    object-fit: contain;
    width: auto;
}

.table-hover {
    --bs-table-hover-bg: #007bff;
    --bs-table-hover-color: #ffffff;
}

#emp_img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}